<h1>Bookmark Manager</h1>
<ul id='links'>
    <% @links.each do |link| %>
    <br>
    <li>
      Title: <%= link.title %>
      URL: <%= "<a href='https://#{link.url}'>" + link.url + "</a>" %>
      <br>
      Tags: <%= link.tags.map(&:tags).join("") %>
    </li>
    <% end %>
</ul>

<a href='/links/add'> Add Bookmark</a>
